.wrapp {
  position: relative;
  z-index: 2;
}

.top {
  position: relative;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: .3125rem;
  color: var(--blue-400);

  @media screen and (max-width: 375px) {
    justify-content: center;
  }
  
  & svg {
    font-size: 1.25rem;
  }
  
  & p {
    display: flex;
    align-items: center;
    gap: .3125rem;
  }

  & span {
    position: absolute;
    font-size: 11px;
    content: '';
    top: -12px;
    left: 48px;
    width: 17px;
    height: 17px;
    background: var(--blue-400);
    border-radius: var(--radius-50p);
    color: var(--gray-100);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.body {
  position: absolute;
  content: '';
  top: 1.5625rem;
  left: 0;
  // width: 12.5rem;
  width: 100%;
  padding: 0 .625rem;

  background: rgba(255, 255, 255, .75);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: var(--radius-6);
  border: 1px solid var(--gray-50);
  transition: var(--transition-3);
  overflow: hidden;
  height: 0;
  text-align: center;
  pointer-events: none;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-row-gap: .3125rem;
  grid-column-gap: .75rem;

  &.open {
    height: unset;
    padding: .625rem;
    border: 1px solid var(--gray-100);
    pointer-events: all;
  }
}