.wrapp {
  position: relative;
  z-index: 2;
}

.top {
  position: relative;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .3125rem;
  color: var(--blue-400);

  @media screen and (max-width: 375px) {
    justify-content: center;
  }
  
  & svg {
    font-size: 1.25rem;
  }
  
  & p {
    display: flex;
    align-items: center;
    gap: .3125rem;
  }

  & span {
    position: absolute;
    font-size: 11px;
    content: '';
    top: -13px;
    right: 15%;
    padding: 1px 3px;
    background: var(--blue-400);
    border-radius: var(--radius-6);
    color: var(--gray-100);
    display: flex;
    align-items: center;
  }
}

.body {
  position: absolute;
  content: '';
  top: 1.5625rem;
  left: 0;
  width: 100%;
  padding: 0 .625rem;

  background: rgba(255, 255, 255, .75);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: var(--radius-6);
  border: 0px solid transparent;
  transition: var(--transition-3);
  overflow: hidden;
  height: 0;
  text-align: center;
  pointer-events: none;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-row-gap: .3125rem;
  grid-column-gap: .75rem;

  &.open {
    height: unset;
    min-height: 1px;
    padding: .625rem;
    border: 1px solid var(--gray-100);
    pointer-events: all;
  }
}