.wrapp {
  position: relative;
  height: 3.125rem;
  width: 6.25rem;

  & img {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}