.wrapp {
  position: relative;
  z-index: 2;
  width: 7.5rem;
}

.top {
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: .3125rem;
  color: var(--blue-400);

  & svg {
    font-size: 1.25rem;
  }
}

.body {
  position: absolute;
  content: '';
  top: 1.5625rem;
  left: 0;
  width: 100%;
  padding: 0 .625rem;

  background: rgba(255, 255, 255, .75);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: var(--radius-6);
  border: 1px solid transparent;
  transition: var(--transition-3);
  height: 0;
  overflow: hidden;
  text-align: center;
  pointer-events: none;

  &.open {
    height: unset;
    padding: .625rem;
    border: 1px solid var(--gray-100);
    pointer-events: all;
  }

  & li {
    cursor: pointer;
    font-size: .875rem;
    transition: var(--transition-3);
    line-height: 1.7;

    &:hover {
      color: var(--gray-300);
    }
  }
}