.wrapp {
  position: relative;
  z-index: 4;
  display: grid;
  grid-template: minmax(4.75rem, auto) / minmax(auto, 19rem) auto;
  min-height: 4.75rem;
  gap: 1.25rem;
}

.col {
  display: flex;
  align-items: center;
  gap: 1.25rem;

  &:nth-child(2) {
    justify-self: end;
  }
}