.wrapp {
  position: relative;
  background: var(--gray-50);
  border-radius: var(--radius-25);
  overflow: hidden;
  display: grid;
  grid-template: 6.25rem / 4.6875rem 1fr;
  transition: var(--transition-3);

  @media (any-hover: hover) {
    &:hover {
      transform: translateY(-5px) skewX(-2deg);
      box-shadow: .3125rem .3125rem .9375rem var(--gray-200);
    }
  }

  & span {
    position: absolute;
    content: '';
    top: .625rem;
    right: .9375rem;
    color: var(--gray-300);
    font-size: .75rem;
  }
}

.top {
  display: block;
  position: relative;
}

.body {
  padding: .625rem;
  align-self: center;

  & h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}