.wrapp {
  position: relative;
  background: var(--gray-50);
  border-radius: var(--radius-25);
  overflow: hidden;
  display: grid;
  grid-template: 7.5rem / 5.625rem 1fr;
  transition: var(--transition-3);

  &:hover {
    grid-template: 7.5rem / 6.875rem 1fr;
  }
}

.top {
  display: block;
  position: relative;
}

.body {
  padding: .625rem;
  align-self: center;

  & h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}