.wrapp {
  margin-top: 1.875rem;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.body {
  display: grid;
  grid-template: auto / repeat(7, 1fr);
  grid-column-gap: .75rem;
  grid-row-gap: 1.5625rem;

  @media screen and (max-width: 768px) {
    grid-template: auto / repeat(5, 1fr);
  }

  @media screen and (max-width: 600px) {
    grid-template: auto / repeat(4, 1fr);
  }

  @media screen and (max-width: 450px) {
    grid-template: auto / repeat(2, 1fr);
  }
}