.wrapp {
  margin-top: 1.875rem;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
  grid-column-gap: .75rem;
  grid-row-gap: 1.5625rem;
}