.wrapp {
  & p {
    cursor: pointer;
    color: var(--gray-300);
    font-size: .875rem;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}