.wrapp {
  display: flex;
  align-items: center;
  justify-self: end;
  gap: .625rem;
}

.time {
  display: flex;
  align-items: center;
  gap: .125rem;
  & span {
    font-size: 1.7rem;
    font-weight: 500;
  }
}

.date {
  font-size: .75rem;

  &__row {
    display: flex;
    align-items: center;
    gap: .3125rem;
  }
}